
div {
  text-align: center;
  height: 400px;
  width: 700px;
  border: 20px solid tan;
  padding: 20px;
  margin: auto;
  background-color: darkblue;
}
.img-container {
  float: ;
  width: 33.33%
  padding: 5px;
}
body
{

background-color: slategrey;
  color: Black;

}


h1 {
  text-align: center;
  margin-left: auto;
  text-shadow: 2px 2px Aqua;
  color:Beige;
  font-family: fantasy;
  font-size: 100px;
  background-color:;

}

h2{
  text-align: center;
  margin-left: ;
  color: Teal;
  text-decoration: underline;
}

p.round1{
  border-radius: 5px;
  padding: 5px
}

p {
  background-color: lightblue;
  text-align: center;
  font-size: 17px;
  font-family: cursive;
  border-style: outset;
  border-radius: 6px;
  text-indent:20 px;
  padding: 30px
  width:auto;
  margin-bottom: 80px;
}

p3 {
  background-color: lightblue;
  text-align: center;
  font-size: 17px;
  font-family: cursive;
  border-style: outset;
  border-radius: 6px;
  text-indent: px;
  padding: 30px
  width:auto;
  margin-bottom: 80px;
}
i {
  color: darkgreen;
}

p.small {
  line-height: 100px
}

p.big{
  line-height: 1000px
}
h3{
  text-align: center;
  text-indent:;
  color: rgb(0,212,0);
  text-decoration: underline;
  font-family: ;

}

a:link {
  color: darkorange;
}

a:visited{
  color: Black;
}

a:hover{
  color: yellow;
}

a:active{
  color: violet;
}
